#horas-titulo{
    font-size: 2em;
}

#horas-valor{
    font-size: 3em;
}

#horas-restantes{

}

#container-horas{
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
}

.table-hover td {
    cursor: pointer;
  }