<div class="row justify-content-center align-items-center">
    <div class="col-12">
      <div class="row mb-4">
        <div class="col-7">
          <h2>Aluno - {{aluno.nome}}</h2>
        </div>
        <div class="col-5">
          <button class="btn btn-outline-success float-right" (click)="editAluno(aluno)"> Editar aluno</button>      
        </div>

      </div>
    </div>
    <div class="col-12 text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <span class="ml-3">Carregando...</span>
    </div>

    <div class="col-8">
        <table class="table table-bordered" *ngIf="!loading">
          <tbody *ngIf="!loading">
          <tr>
            <td><b>Nº de matrícula</b></td>
            <td>{{aluno.numeroMatricula}}</td>
          </tr>
          <tr>
            <td><b>Nome</b></td>
            <td>{{aluno.nome}}</td>
          </tr>
          <tr>
            <td><b>E-mail</b></td>
            <td>{{aluno.email}}</td>
          </tr>
          <tr>
            <td><b>CPF</b></td>
            <td>{{aluno.cpf | mask: '000.000.000-00'}}</td>
          </tr>
          <tr>
            <td><b>Data de nascimento</b></td>
            <td>{{aluno.dataNascimento | mask: '00/00/0000'}}</td>
          </tr>
          <tr>
            <td><b>Endereço</b></td>
            <td>{{aluno.endereco}}</td>
          </tr>
          <tr>
            <td><b>Nº do brevê</b></td>
            <td>{{aluno.numeroBreve}}</td>
          </tr>
            
          </tbody>
        </table>
    </div>
    <div id="container-horas" class="col-4" *ngIf="!loading">
      <p id="horas-titulo" class="text-center">Horas de Voo:</p>
      <p id="horas-valor" class="text-center">{{ horasDeVoo }}</p>
      <p id="horas-restantes" class="text-center"> Faltam {{ horasRestantes }} horas de voo para poder tirar o brevê</p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="porcentagemCompleta" aria-valuenow="porcentagemCompleta" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class="text-center">{{ horasDeVoo }} / {{ horasObrigatorias }} </p>
    </div>

    <div class="col-12 mt-4">
      <h4>Voos Realizados - {{aluno.nome}}</h4>
    </div>

    <h6 class="col-12 text-center text-muted p-3" *ngIf= "voosDoAluno.length == 0 && !loading ">Não há voos realizados</h6>


    <div class="col-12" *ngIf= "voosDoAluno.length != 0 ">
      <table class="table table-hover table-striped mt-2 " *ngIf="!loading">
        <tbody *ngIf="!loading">

          <tr>
            <td>ID</td>
            <td>Data</td>
            <td>Saída</td>
            <td>Chegada</td>
            <td>Tempo de Voo</td>
            <td>Instrutor</td>
            <td>Parecer</td>
          </tr>

          <tr *ngFor = 'let voo of voosDoAluno' class="table-default">
              <td (click)="goToVoo(voo)">{{voo.id}}</td>
              <td (click)="goToVoo(voo)">{{voo.data | mask: '00/00/0000'}}</td>
              <td (click)="goToVoo(voo)">{{voo.horarioSaida | mask: 'HH:mm'}}</td>
              <td (click)="goToVoo(voo)">{{voo.horarioChegada | mask: 'HH:mm'}}</td>
              <td (click)="goToVoo(voo)">{{ voo.getTempoDeVoo() }} minutos</td>
              <td (click)="goToVoo(voo)">{{voo.dadosInstrutor.nome}}</td>
              <td (click)="goToVoo(voo)">{{voo.parecer}}</td>
            </tr>

          
        </tbody>
      </table>
  </div>
    
  </div>