{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>
            
            <div class="col-md-8 col-lg-6" id="container-table">
                <div class="table-responsive">
                    {% for instrutor in instrutores %}
                    <h1><a class="article-title" id="content-title" href="{{ url_for('visualizar_instrutor', breve=instrutor.breve) }}">Instrutor {{ instrutor.breve }}</a></h1>
                    <table class="table table-hover">                                
                        <tbody>                                
                                <tr>
                                    <th id="table-border">Instrutor: </th>
                                    <td id="table-border">{{ instrutor.nome }}</td>
                                </tr>
                                <tr>
                                    <th id="table-border">CPF</th>
                                    <td id="table-border">{{ instrutor.cpf }}</td>
                                </tr>
                                <tr>
                                    <th id="table-border">Email: </th>
                                    <td id="table-border">{{ instrutor.email }}</td>
                                </tr>
                            
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-md-2 col-lg-3"></div>
        </div>
    </div>
{% endblock content %}