<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="utf-8">

        <!--Links para uso do Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        
        <!--Font do google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        
        <!--Arquivo CSS-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        
        <script>
            function changePassword() {
                var x = document.getElementById("senhaNova");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
            }
            
        </script>

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>undefined</title>
        {% endif %}

    </head>
    <body>      <!--falta criar javascript p/ colocar o disable ou o active no botão certo-->
        <div class="container-fluid" id="topo-da-pagina">
            <h1 id="title_page" style="margin-bottom: 20px">Escola de voo do grupo 4</h1>
            <div class="btn-group d-flex flex-wrap rounded shadow" role="group" id="button-font">
                <a href={{ url_for('pagina_principal') }} class="btn btn-warning" role="button">Página Principal</a>
                <a href={{ url_for('consultar_cadastro') }} class="btn btn-warning active" role="button">Consultar Cadastro</a>
                <a href={{ url_for('consultar_financas') }} class="btn btn-warning" role="button">Consultar Finanças</a>
                <a href={{ url_for('listar_voos') }} class="btn btn-warning" role="button">Consultar Voos</a>
                <a href={{ url_for('consultar_etc') }} class="btn btn-warning" role="button">Consultar etc</a>
                <a href={{ url_for('logout') }} class="btn btn-warning disabled" role="button">Logout</a>    
            </div>
        </div>
    </body>
</html>