{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        
        <div class="col-md-8 col-lg-6" id="container-table">
            <div class="table-responsive">
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
                <h1 class="article-title" id="content-title">Aluno {{ aluno.usuario_id }}</h1>
                    <table class="table table-hover">                                
                        <tbody>                                
                                <tr>
                                    <th id="table-border">Aluno: </th>
                                    <td id="table-border">{{ aluno.nome }}</td>
                                </tr>
                                <tr>
                                    <th id="table-border">CPF</th>
                                    <td id="table-border">{{ aluno.cpf }}</td>
                                </tr>
                                <tr>
                                    <th id="table-border">Email: </th>
                                    <td id="table-border">{{ aluno.email }}</td>
                                </tr>
                                <tr>
                                    <th id="table-border">Horas de Voo: </th>
                                    <td id="table-border">{{ totalHoras }}</td>
                                </tr>
                            
                        </tbody>
                    </table>
            </div>
        </div>
        
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Are you sure about that?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('deletar_aluno', usuario_id=aluno.usuario_id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}