<div class="row">
    <div class="col-12">
      <div class="row mb-4">
        <div class="col-6">
          <h2>Voo {{voo.id}} - {{voo.dadosAluno.nome}}</h2>
        </div>
        <div class="col-6">
          <button class="btn btn-outline-success float-right" (click)="editVoo(voo)"> Editar Voo</button>      
        </div>
      </div>

    </div>
    <div class="col-12 text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <span class="ml-3">Carregando...</span>
    </div>

    <div class="col-8">
        <table class="table table-bordered" *ngIf="!loading">
          <tbody *ngIf="!loading">
          <tr>
            <td><b>ID</b></td>
            <td>{{voo.id}}</td>
          </tr>
          <tr>
            <td><b>Aluno</b></td>
            <td>{{voo.dadosAluno.nome}} - {{voo.dadosAluno.numeroMatricula}}</td>
          </tr>
          <tr>
            <td><b>Instrutor</b></td>
            <td>{{voo.dadosInstrutor.nome}} - {{voo.dadosInstrutor.numeroMatricula}}</td>
          </tr>
          <tr>
            <td><b>Parecer</b></td>
            <td>
              <span class="badge badge-success badge-pill" [class.badge-success]="voo.parecer >= 3"
                    [class.badge-danger]="voo.parecer <= 1" [class.badge-warning]="voo.parecer == 2">
                {{voo.parecer}}
              </span>
            </td>
          </tr>
          <tr>
            <td><b>Data</b></td>
            <td>{{voo.data | mask: '00/00/0000'}}</td>
          </tr>
          <tr>
            <td><b>Horário de Saída</b></td>
            <td>{{voo.horarioSaida | mask: '00:00'}}</td>
          </tr>
          <tr>
            <td><b>Horário de Chegada</b></td>
            <td>{{voo.horarioChegada | mask: '00:00'}}</td>
          </tr>
            
          </tbody>
        </table>
    </div>
  </div>