.themed-grid-col {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(86, 61, 124, .2);
  border-bottom: 1px solid rgba(86, 61, 124, .2);
  text-align: center;
}

.border-left-grid {
	border-left: 1px solid rgba(86, 61, 124, .2);
}

.border-right-grid {
	border-right: 1px solid rgba(86, 61, 124, .2);
}

.past-active {
	font-weight: normal;
	color: green;
}

.active {
	font-weight: bold;
	font-style: italic;
	color: green;
}

.space {
	padding-top: 20px;
}

.fade-out {
	font-style: italic;
	color: gray;
}
