<div class="row">
  <div class="col-12">
    <div class="alert alert-dismissible alert-success" *ngIf="success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Pronto!</strong> Novo instrutor cadastrado.
    </div>
    <div class="alert alert-dismissible alert-danger" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Ops!</strong>
      <p [innerHtml]="errorMsg"></p>
    </div>
  </div>
  <div class="col-12 text-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <span class="ml-3">Carregando...</span>
  </div>
  <div class="col-12">
        <fieldset>
          <legend>Novo Instrutor</legend>
          <div class="form-group">
            <label for="nome-input">Nome completo</label>
            <input type="text" class="form-control" id="nome-input" [(ngModel)]="novoInstrutor.nome">
          </div>
          <div class="form-group">
            <label for="cpf-input">CPF</label>
            <input type="tel" class="form-control" id="cpf-input"  [(ngModel)]="novoInstrutor.cpf" mask="000.000.000-00" [showMaskTyped] = "true">
          </div>
          <div class="form-group">
            <label for="nascimento-input">Data de Nascimento</label>
            <input type="text" class="form-control" id="nascimento-input"  [(ngModel)]="novoInstrutor.dataNascimento" mask="00/00/0000" [showMaskTyped] = "true">
          </div>
          <div class="form-group">
            <label for="email-input">Email address</label>
            <input type="email" class="form-control" id="email-input"  [(ngModel)]="novoInstrutor.email">
          </div>
          <div class="form-group">
            <label for="endereco-input">Endereço</label>
            <input type="text" class="form-control" id="endereco-input"  [(ngModel)]="novoInstrutor.endereco" placeholder="Rua, numero e complemento">
          </div>
          <div class="form-group">
            <label for="breve-input">Num. do Brevê</label>
            <input type="text" class="form-control" id="breve-input"  [(ngModel)]="novoInstrutor.numeroBreve" mask="000000" [showMaskTyped] = "true">
          </div>
          <div class="form-group">
            <label for="curso-input">Curso</label>
            <input type="text" class="form-control" id="curso-input"  [(ngModel)]="novoInstrutor.nomeCurso" placeholder="Nome do curso">
          </div>
          <div class="form-group">
            <label for="instituicao-input">Instituição do Curso</label>
            <input type="text" class="form-control" id="instituicao-input"  [(ngModel)]="novoInstrutor.instituicaoCurso" placeholder="">
          </div>
          <div class="form-group">
            <label for="diploma-input">Data de Obtenção do Diploma</label>
            <input type="text" class="form-control" id="diploma-input"  [(ngModel)]="novoInstrutor.dataObtencaoDiploma" mask="00/00/0000" [showMaskTyped] = "true">
          </div>
        </fieldset>

        <button class="btn btn-success" (click)="salvarInstrutor(novoInstrutor)">Cadastrar</button>
    </div>
  </div>