<div class="row justify-content-center">
  <div class="col-12">
    <div class="alert alert-dismissible alert-success" *ngIf="success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Bem vindo, <strong>{{nome}}</strong>!
    </div>
    <div class="alert alert-dismissible alert-danger" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Ops! Verifique as informações</strong>
      <p [innerHtml]="errorMsg"></p>
    </div>
  </div>
  <div class="col-12 text-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <span class="ml-3">Carregando...</span>
  </div>
  <div class="col-6">
    <h1 class="text-success text-center mt-4 mb-4">
      <i class="fa fa-fighter-jet text-primary"></i>
      Aero Clube      
      <i class="fa fa-fighter-jet text-primary"></i>
    </h1>
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label for="email-input">Email</label>
        <input type="text" class="form-control" id="email-input" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="cpf-input">CPF</label>
        <input type="tel" class="form-control" id="cpf-input"  [(ngModel)]="cpf" mask="000.000.000-00" [showMaskTyped] = "true">
      </div>
    </fieldset>

        <button class="btn btn-success" (click)="login()">Entrar</button>
    </div>
  </div>