{% extends "base_admin.html" %}

{% block title%} Apache | Administrador {% endblock title%}

{% block titulo %}Cadastro{% endblock %}

{% block subtitulo%}Novo usuario{% endblock %}

{%block conteudo%}

<div class="content content-narrow">
    <!-- Material Design -->
    <div class="row">
        <div class="col-md-11">
            <!-- Static Labels -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Formulario de Inscricao</h3>
                </div>
                <div class="block-content block-content-narrow">
                    <form class="form-horizontal push-10-t" action="/cadastrar_usuario" method="post">
                        
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome..">
                                    <label for="material-color-primary">Nome</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="text" id="cpf" name="cpf" placeholder="Formato XXX.XXX.XXX-XX">
                                    <label for="material-color-primary">CPF</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="text" id="email" name="email" placeholder="E-mail..">
                                    <label for="material-color-primary">E-mail</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="cargo" name="cargo" size="1">
                                        <option>Selecione uma opcao</option>
                                        <option value="Piloto">Piloto</option>
                                        <option value="Instrutor">Instrutor</option>
                                        <option value="Aluno">Aluno</option>
                                    </select>
                                    <label for="material-select">Categoria</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-material form-material-primary">
                                        <input class="form-control" type="text" id="data_nascimento" name="data_nascimento" placeholder="Formato dd/mm/aa">
                                        <label for="material-color-primary">Data de Nascimento</label>
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- END Static Labels -->
        </div>
    </div>
</div>
        <!-- END Material Design -->


{% endblock conteudo%}

