<div class="row">
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-6">
        <h2>Instrutor - {{instrutor.nome}}</h2>
      </div>
      <div class="col-6">
        <button class="btn btn-outline-success float-right" (click)="editInstrutor(instrutor)" *ngIf="sessionService.getAtor() == 'funcionario'"> Editar instrutor</button>      
      </div>
    </div>

  </div>
  <div class="col-12 text-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <span class="ml-3">Carregando...</span>
  </div>

  <div class="col-8">
      <table class="table table-bordered" *ngIf="!loading">
        <tbody *ngIf="!loading">
        <tr>
          <td><b>Nº de matrícula</b></td>
          <td>{{instrutor.numeroMatricula}}</td>
        </tr>
        <tr>
          <td><b>Nome</b></td>
          <td>{{instrutor.nome}}</td>
        </tr>
        <tr>
          <td><b>E-mail</b></td>
          <td>{{instrutor.email}}</td>
        </tr>
        <tr>
          <td><b>CPF</b></td>
          <td>{{instrutor.cpf | mask: '000.000.000-00'}}</td>
        </tr>
        <tr>
          <td><b>Data de nascimento</b></td>
          <td>{{instrutor.dataNascimento | mask: '00/00/0000'}}</td>
        </tr>
        <tr>
          <td><b>Endereço</b></td>
          <td>{{instrutor.endereco}}</td>
        </tr>
        <tr>
          <td><b>Nº do brevê</b></td>
          <td>{{instrutor.numeroBreve | mask: '000000'}}</td>
        </tr>
        <tr>
          <td><b>Curso</b></td>
          <td>{{instrutor.nomeCurso}}</td>
        </tr>
        <tr>
          <td><b>Instituição do curso</b></td>
          <td>{{instrutor.instituicaoCurso}}</td>
        </tr>
        <tr>
          <td><b>Data de obtenção do diploma</b></td>
          <td>{{instrutor.dataObtencaoDiploma | mask: '00/00/0000'}}</td>
        </tr>
          
        </tbody>
      </table>
  </div>
</div>