.pagina {
    text-align: center;
}

#buttonSuccess {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#buttonDanger {
    background-color: crimson; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1%

}

#link {
  font-size: 16px;
  color: white;
  text-decoration: none;
}