.pagina {
    text-align: center;
}

.dashboardAlu {
    margin-left: 13%;
    margin-right: 1%;
    margin-bottom: 5%;
    display: inline-block;
}

.dashboardIns{
    margin-left: 7%;
    margin-right: 1%;
    margin-bottom: 5%;
    display: inline-block;
}

.dashboardFunc{
    margin-left: 7%;
    margin-right: 1%;
    margin-bottom: 3%;
    display: inline-block;
}

.dashboardFuncH{
    margin-left: 41%;
}