.pagina {
    text-align: center;
}

.info {
    font-size: 20px;
}

select{
    width: 15%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

#buttonSuccess {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#buttonDanger {
    background-color: crimson; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1%

}

#link {
  font-size: 16px;
  color: white;
  text-decoration: none;
}