.pagina {
    text-align: center;
}

.dashboardAlu {
    text-align: center;
    margin-left: 10%;
    margin-right: 1%;
    margin-bottom: 5%;
    display: inline-block;
}

.dashboardIns{
    text-align: center;
    margin-left: 11%;
    margin-bottom: 5%;
    display: inline-block;
}

.dashboardInsH{
    text-align: center;
    margin-left: 41%;
}

.dashboardFunc{
    text-align: center;
    margin-left: 11%;
    margin-bottom: 3%;
    display: inline-block;
}

.dashboardFuncH{
    text-align: center;
    margin-left: 41%;
}