.pagina {
    text-align: center;
}

.dashboardAlu {
    margin-left: 20%;
    margin-right: 1%;
    margin-bottom: 5%;
    display: inline-block;
}

.dashboardIns{
    margin-left: 10%;
    margin-right: 1%;
    margin-bottom: 5%;
    display: inline-block;
}

.dashboardFunc{
    margin-left: 20%;
    margin-right: 1%;
    margin-bottom: 5%;
    display: inline-block;
}