.Card {
  min-width: 75vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
  -moz-appearance:textfield;
}