{% extends "base_admin.html" %}

{% block title%} Aeroclube | Avaliação de aula {% endblock title%}

{% block titulo %}Avaliação{% endblock %}

{% block subtitulo%}Avaliar aula{% endblock %}

{%block conteudo%}
 
{%if avaliou_aula == true %}
    <div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2">
        <!-- Success Alert -->
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3 class="font-w300 push-15">Tudo certo!</h3>
            <p>Aula <a class="alert-link" href="javascript:void(0)">avaliada com sucesso</a>!</p>
        </div>
        <!-- END Success Alert -->
    </div>
{%endif%}

{%if erro_edicao == true %}
    <div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2">
        <!-- Danger Alert -->
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3 class="font-w300 push-15">Erro</h3>
            <p>{{mensagem_erro}} <a class="alert-link" href="javascript:void(0)"></a>!</p>
        </div>
        <!-- END Danger Alert -->
    </div>
{%endif%}

<div class="content content-narrow">
    <!-- Material Design -->
    <div class="row">
        <div class="col-md-11">
            <!-- Static Labels -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Agendamento de Aula</h3>
                </div>
                <div class="block-content block-content-narrow">
                    <form class="form-horizontal push-10-t" action="/avaliar_aula?id={{id_aula}}" method="POST">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="id_aluno" name="id_aluno" size="1" desabled>
                                        {% for aluno in alunos %}
                                        <option {%if aluno_selecionado.id == aluno.id %} selected {%endif%}  value="{{aluno.id}}">{{aluno.nome}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="material-select">Aluno</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="id_instrutor" name="id_instrutor" size="1" disabled>
                                        {% for instrutor in instrutores %}
                                        <option {%if instrutor_selecionado.id == instrutor.id %} selected {%endif%} value="{{instrutor.id}}">{{instrutor.nome}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="material-select">Instrutor</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="integer" id="nota" name="nota" placeholder="Nota enter 1 e 5">
                                    <label for="material-color-primary">Nota</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="text" id="comentario" name="comentario" placeholder="Comentário">
                                    <label for="material-color-primary">Comentario</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-sm btn-primary" type="submit">Avaliar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- END Static Labels -->
        </div>
    </div>
</div>
        <!-- END Material Design -->


{% endblock conteudo%}

