{% extends "base_admin.html" %}

{% block title%} Aeroclube | Cadastro de aula {% endblock title%}

{% block titulo %}Agendamento{% endblock %}

{% block subtitulo%}Nova Aula{% endblock %}

{%block conteudo%}
 
{%if cadastrou_voo == true %}
    <div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2">
        <!-- Success Alert -->
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3 class="font-w300 push-15">Tudo certo!</h3>
            <p>Voo <a class="alert-link" href="javascript:void(0)">marcado com sucesso</a>!</p>
        </div>
        <!-- END Success Alert -->
    </div>
{%endif%}

{%if erro_cadastro == true %}
    <div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2">
        <!-- Danger Alert -->
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3 class="font-w300 push-15">Error</h3>
            <p> {{mensagem_erro}} <a class="alert-link" href="javascript:void(0)"></a>!</p>
        </div>
        <!-- END Danger Alert -->
    </div>
{%endif%}


<div class="content content-narrow">
    <!-- Material Design -->
    <div class="row">
        <div class="col-md-11">
            <!-- Static Labels -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Agendamento de Voo</h3>
                </div>

                <div class="block-content block-content-narrow">
                    <form class="form-horizontal push-10-t" {%if cadastrou_voo %} action="/cadastrar_voo_hora" {% endif %} method="POST">

                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="piloto_id" name="piloto_id" size="1" disabled>
                                        {% for piloto in pilotos %}
                                        <option  {%if piloto_selecionado.id == piloto.id %} selected {% endif %} value="{{piloto.id}}">{{piloto.nome}}</option>
                                        {% endfor %}
                                        {% for instrutor in instrutores %}
                                        <option{%if piloto_selecionado.id == instrutor.id %} selected {% endif %} value="{{instrutor.id}}">{{instrutor.nome}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="material-select">Piloto</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="text" id="data" name="data" placeholder="Formato dd/mm/aa"  value={{data_str}} readonly>
                                    <label for="material-color-primary">Data do Voo</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="horario" name="horario" size="1">
                                        <option>Selecione uma opção</option>
                                        {% for horario in horarios %}
                                        <option value="{{horario}}">{{horario.strftime("%H:%M")}}</option>
                                        {% endfor %}
                                </select>
                                <label for="material-select">Horário do Voo</label>
                                </div>
                            </div>
                        </div>    

                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="duracao" name="duracao" size="1">
                                        <option>Selecione uma opção</option>
                                        {% for i in range(1,6) %}
                                            <option value={{i}}>{{i}}</option>
                                        {%endfor%}
                                </select>
                                <label for="material-select">Duração</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-sm btn-primary" type="submit">Agendar</button>
                            </div>
                        </div>
                        
                    </form>
                    <form action="/cadastrar_voo">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-sm btn-primary" type="submit">Escolher outra data</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Static Labels -->
        </div>
    </div>
</div>
        <!-- END Material Design -->


{% endblock conteudo%}

