<!DOCTYPE html>
<html>

  <head>
    <title>
        Cadastro de Voo
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <style type="text/css">
        body{
            font-family: Lato;
        }
    </style>
  </head>

  <body style="text-align:center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar sticky-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#"><i class="fas fa-plane-departure"></i> AeroClube</a>       
                </div>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 20px; text-align: center;">
        <div class="jumbotron">
            <h1 class="display-4"> <strong>Cadastro de Voo</strong></h1>
            <hr>
            <form method="POST" action="/cadastro-aluno">
                
                <p><strong>Matrícula do Aluno:</strong>
                  
              <input type="text" name="matricula" placeholder="Matricula"style="margin-left:10px;" maxlength="8">
                  

					      <p><strong>Requisitos Eliminatórios:</strong>
                <label for="check"style="margin-left:10px;">Sim</label>
                <input type="radio" name="nota" id="check" value="check" >
                <br>
					      <p><strong>Parecer Sobre o Voo:</strong>
                <label for="nota1"style="margin-left:10px;">1</label>
                <input type="radio" name="nota" id="nota1" value="nota1">
                <label for="nota2"style="margin-left:10px;">2</label>
                <input type="radio" name="nota" id="nota2" value="nota2">
                <label for="nota3"style="margin-left:10px;">3</label>
                <input type="radio" name="nota" id="nota3" value="nota3">
                <label for="nota4"style="margin-left:10px;">4</label>
                <input type="radio" name="nota" id="nota4" value="nota4"><br><br>
                <a href='/'>
                    <button type="button" value='Cadastrar'class="btn btn-primary" style="float:right; margin-left:5px;">Cadastrar</button>
                </a>
                <a href='/cadastro-aluno'>
                    <button type="button" class="btn btn-warning" style="float:right;">Limpar</button>
                </a>
                <a href='/'>
                    <button type="button" class="btn btn-light" style="float: left">Tela Anterior</button>
                </a>
            </form>    
        </div>           
    </div>
    
    
  </body>

</html>