<head>
    <title>
        Resultado Consulta de Sócio
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style type="text/css">
        body {
            font-family: Lato
        }
    </style>
    <script src="script.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar sticky-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#"><i class="fas fa-plane-departure"></i> AeroClube</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 20px; text-align: center;">
        <div class="jumbotron">
            <h1 class="display-4"> <strong>Resultado Consulta de Sócio</strong></h1>
            <hr> {% for socio in socios %}
            <br> <strong>Matrícula:</strong> {{socio.matricula}}
            <br> <strong>Nome:</strong> {{socio.nome}} {{socio.sobrenome}}
            <br> <strong>Tipo:</strong> {{socio.tipo}}
            <br> <strong>Número de Horas:</strong> {{socio.numero_horas}}
            <br> <strong>Idade:</strong> {{socio.idade}}
            <br> <strong>Endereço:</strong> {{socio.endereco}}
            <br> <strong>Telefone:</strong> {{socio.telefone}}
            <br> <strong>Telefone:</strong> {{socio.telefone}}
            <br> <strong>E-mail:</strong> {{socio.email}}
            <br> <strong>CPF:</strong> {{socio.cpf}}
            <br> <strong>Sexo:</strong> {{socio.sexo}}
            <br> <strong>Numero do Brevê:</strong> {{socio.numero_brevet}}
            <br> <strong>Instituição de Ensino:</strong> {{socio.instituicao}}
            <br> <strong>Data de Obtenção do Diploma:</strong> {{socio.data_diploma}} {% endfor %}
            <br><br>
            <a href='/consultar-instrutor'>
                <button type="button" class="btn btn-light" style="float: left">Tela Anterior</button>
            </a>
            <br>
</body>

</html>