<!DOCTYPE html>
<html>

<head>
    <title>
        Cadastro de Aluno
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <style type="text/css">
        body {
            font-family: Lato;
        }
    </style>
</head>

<body style="text-align:center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar sticky-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#"><i class="fas fa-plane-departure"></i> AeroClube</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 20px; text-align: center;">
        <div class="jumbotron">
            <h1 class="display-4"> <strong>Cadastro de Funcionário</strong></h1>
            <hr>
            <form method="POST" action="/cadastro-funcionario">
                <input class="btn btn-light" type="text" name="nome" placeholder="Nome" required>
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="text" name="sobrenome" placeholder="Sobrenome" required>
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="text" name="idade" placeholder="Idade" maxlength='2'>
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="text" name="cpf" placeholder="CPF" max-length='11' required>
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="password" name="senha" placeholder="Senha" required>
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="text" name="endereco" placeholder="Endereço">
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="text" name="telefone" placeholder="Telefone">
                <br>
                <input style="margin-top: 6px" class="btn btn-light" type="email" name="email" placeholder="E-mail" required>
                <br>

                <select style="margin-top: 6px; width: 197px" class="btn btn-light" name="sexo">
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                    <option value="O">Outro</option>
                </select>

                <br>
                <a href='/inicial'>
                    <button type="submit" value='Cadastrar' class="btn btn-primary" style="float:right; margin-left:5px;">Cadastrar</button>
                </a>
                <a href='/cadastro-funcionario'>
                    <button type="submit" class="btn btn-warning" style="float:right;">Limpar</button>
                </a>

            </form>
            <a href='/inicial'>
                <button type="submit" class="btn btn-light" style="float: left">Tela Anterior</button>
            </a>
        </div>
    </div>


</body>

</html>