.telaAgendamento {
    margin: 2em 20em 20em;
    line-height: 2em;
}

.telaAgendamento input {
    display: block;
}

.telaAgendamento button{
    font-family: Microsoft JhengHei Light, sans-serif;
    width: auto;
    color: white;
    background-color: black;
    border: solid;
    border-color: black;
    margin: 1em 0em;
}

.telaAgendamento button:hover{
    background-color: #2c71b1;
    border-color: #2c71b1;
    border-bottom-color: #2c71b1;
}


.telaAgendamento select {
    display: block;
    font-family: Microsoft JhengHei Light, sans-serif;
    width: 100%;
}

.telaAgendamento input {
    display: block;
    font-family: Microsoft JhengHei Light, sans-serif;
}