table.tabelaAula {
    font-family: Microsoft JhengHei Light, sans-serif;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
  }
  table.tabelaAula td, table.tabelaAula th {
    border: 0px solid #000000;
    padding: 6px 10px;
  }
  table.tabelaAula tbody td {
    font-size: 17px;
    color: #000000;
    padding: 6px 10px;
  }
  table.tabelaAula thead {
    background: #2c71b1;
    border-bottom: 5px solid #FFFFFF;
  }
  table.tabelaAula thead th {
    font-size: 23px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
  }
  table.tabelaAula tfoot td {
    font-size: 14px;
  }

  table.tabelaAula button {
    color: white;
    background-color: #2c71b1;
    border: none;
    font-family: Microsoft JhengHei Light, sans-serif;
}