.header{
    background: #ffffff;
    width: 0;
}

.menu{
    text-transform: uppercase;
    text-align: right;
    margin-top: 25px;
    background: rgb(255, 255, 255)
}

a.logo{
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    margin: 100px;
}

li a{
    padding: 5px 10px;
    border-radius: 3px;
}

li a:hover{
    text-decoration: none;
    background: #2c71b1;
    color: #ebebeb;
}

ul li, ol, li{
    margin-bottom: 5px;
}
ul.inline li, ol.inline li{
    display: inline;
    margin: 15px;
}
ul.inline li:last-child, ol.inline li:last-child{
    margin-left: 0;
}

ul.sem-marcador, ol.sem-marcador{
    list-style: none;
}