.telaLogin {
    margin: 20em 20em;
}

.telaLogin input {
    display: block;
}

.telaLogin button{
    font-family: Microsoft JhengHei Light, sans-serif;
    width: auto;
    color: white;
    background-color: black;
    border: solid;
    border-color: black;
    margin: 1em 0em;
}

.telaLogin button:hover{
    background-color: rgb(207, 31, 31);
    border-color: rgb(207, 31, 31);
    border-bottom-color: rgb(207, 31, 31);
}
