.telaLogin {
    margin: 2em 20em 20em;
}

.telaLogin input {
    display: block;
}

.telaLogin button{
    font-family: Microsoft JhengHei Light, sans-serif;
    width: auto;
    color: white;
    background-color: black;
    border: solid;
    border-color: black;
    margin: 1em 0em;
}

.telaLogin button:hover{
    background-color: #1f3c58;
    border-color: #1f3c58;
    border-bottom-color: #1f3c58;
}
