.sidebarAba tr {
    display: block;
    height: 2em;
    background-color: rgb(207, 31, 31);
    padding: 2em 6em;
}

.sidebarAba tr:hover{
    background-color: white;
}

.sidebarAba a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}