.sidebarAba { 
    list-style-type: none;
    text-align: center;
    background-color: #1f3c58;
    padding-left: 0px;
    box-shadow: 0 0 0 5px black;
}

.sidebarAba li{
    text-align: center;
    padding: 2em 5em;
    margin: 0px;
}

.sidebarAba li:hover {
    background-color: white;
}


.sidebarAba a {
    color: #ebebeb;
    font-size: 2em;
    text-decoration: none;
}

.sidebarAba li:hover a {
    background-color: white; 
    color: #315e8a;
}

.sidebarAba .sidebarHeader{
    display: block;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 2em;
    padding: 0em;
}

.sidebarAba .sidebarHeader:hover{
    background-color: rgb(0, 0, 0);
}