.sidebarAba tr {    
    display: grid;
    text-align: center;
    height: 2em;
    background-color: rgb(207, 31, 31);
    padding: 2em 6em 3em;
}

.sidebarAba tr:hover{
    background-color: white;
}


.sidebarAba a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}

.sidebarAba .sidebarHeader{
    display: table-header-group;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 2em;
}

.sidebarAba .sidebarHeader:hover{
    background-color: rgb(0, 0, 0);
}