table.tabelaSocios {
    font-family: Microsoft JhengHei Light, sans-serif;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
  }
  table.tabelaSocios td, table.tabelaSocios th {
    border: 0px solid #000000;
    padding: 3px 2px;
  }
  table.tabelaSocios tbody td {
    font-size: 17px;
    color: #000000;
    padding: 6px 10px;
  }
  table.tabelaSocios thead {
    background: #2c71b1;
    border-bottom: 5px solid #FFFFFF;
  }
  table.tabelaSocios thead th {
    font-size: 23px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
  }
  table.tabelaSocios tfoot td {
    font-size: 14px;
  }